/* Coolors Exported Palette - https://coolors.co/d5d5d5-02131a-033a50-05668d-028090-00a896-02c39a-010d12-31363b-010d12 */

/* CSS */
--light-gray: hsla(0, 0%, 84%, 1);
--rich-black-fogra-29: hsla(198, 92%, 10%, 1);
--indigo-dye: hsla(197, 96%, 31%, 1);
--blue-sapphire: hsla(197, 96%, 55%, 1);
--metallic-seaweed: hsla(187, 99%, 56%, 1);
--persian-green: hsla(174, 100%, 66%, 1);
--mountain-meadow: hsla(167, 99%, 76%, 1);
--rich-black-fogra-29-2: hsla(198, 94%, 7%, 1);
--onyx: hsla(210, 17%, 23%, 1);
--rich-black-fogra-29-3: hsla(198, 94%, 7%, 1);

/* SCSS HEX */
$light-gray: #d5d5d5ff;
$rich-black-fogra-29: #02131aff;
$indigo-dye: #033a50ff;
$blue-sapphire: #05668dff;
$metallic-seaweed: #028090ff;
$persian-green: #00a896ff;
$mountain-meadow: #02c39aff;
$rich-black-fogra-29-2: #010d12ff;
$onyx: #31363bff;
$rich-black-fogra-29-3: #010d12ff;

/* SCSS HSL */
$light-gray: hsla(0, 0%, 84%, 1);
$rich-black-fogra-29: hsla(198, 92%, 10%, 1);
$indigo-dye: hsla(197, 96%, 31%, 1);
$blue-sapphire: hsla(197, 96%, 55%, 1);
$metallic-seaweed: hsla(187, 99%, 56%, 1);
$persian-green: hsla(174, 100%, 66%, 1);
$mountain-meadow: hsla(167, 99%, 76%, 1);
$rich-black-fogra-29-2: hsla(198, 94%, 7%, 1);
$onyx: hsla(210, 17%, 23%, 1);
$rich-black-fogra-29-3: hsla(198, 94%, 7%, 1);

/* SCSS RGB */
$light-gray: rgba(213, 213, 213, 1);
$rich-black-fogra-29: rgba(2, 19, 26, 1);
$indigo-dye: rgba(3, 58, 80, 1);
$blue-sapphire: rgba(5, 102, 141, 1);
$metallic-seaweed: rgba(2, 128, 144, 1);
$persian-green: rgba(0, 168, 150, 1);
$mountain-meadow: rgba(2, 195, 154, 1);
$rich-black-fogra-29-2: rgba(1, 13, 18, 1);
$onyx: rgba(49, 54, 59, 1);
$rich-black-fogra-29-3: rgba(1, 13, 18, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);
$gradient-right: linear-gradient(90deg, #d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);
$gradient-bottom: linear-gradient(180deg, #d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);
$gradient-left: linear-gradient(270deg, #d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);
$gradient-top-right: linear-gradient(45deg, #d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);
$gradient-bottom-right: linear-gradient(135deg, #d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);
$gradient-top-left: linear-gradient(225deg, #d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);
$gradient-bottom-left: linear-gradient(315deg, #d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);
$gradient-radial: radial-gradient(#d5d5d5ff, #02131aff, #033a50ff, #05668dff, #028090ff, #00a896ff, #02c39aff, #010d12ff, #31363bff, #010d12ff);