@import 'quasar.variables';
@import 'pages/login';
@import 'pages/index';
@import 'pages/rating';
@import 'pages/user';

.footer-text {
  font-size: 1rem;
}

.application-footer {
  background-color: $accent;
  color: $white;
}

.logo-image-painel {
  margin: 40px 0;
}

.logo-main-image {
  width: 60%;
}

.itemmenu-item {
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 1.05rem;

  span {
    width: 100%;
    text-align: center;
    color: $white;
  }
}

.itemmenu-section {
  width: 100%;
  cursor: pointer;
}

.subitem {
  padding-left: 20px;
}

.item:hover {
  background-color: $secondary;

  span {
    color: white;
  }
}

.subitem:hover {
  background-color: $secondary;

  .icon {
    color: white;
  }

  span {
    color: white;
  }
}

.menu-button {
  margin-right: 20px;
}

.user-info {
  .user-info-action {
    padding: 0 10px;
  }
}

.table-header-style {
  td {
    text-align: center;
  }
}

.pagination {
  margin-top: 30px;
}

.text-white {
  background-color: $accent;
}

.left-menu {
  background-color: $dark;
  border-right: 1px solid #666;
}

.dark-page {
  background-color: $accent;
  color: $white;
}
