@import 'quasar.variables';
@import 'pages/login';

.footer-text {
  font-size: 1rem;
}

.application-footer {
  background-color: white;
  color: $dark;
}

.logo-image-painel {
  margin: 40px 0;
}

.logo-main-image {
  width: 60%;
}

.itemmenu-item {
  padding: 0;

  .icon {
    color: $secondary;
  }

  span {
    color: $dark;
  }
}

.itemmenu-section {
  width: 100%;
  cursor: pointer;
  padding-left: 30px;

  .icon {
    width: 20%;
    font-size: 1.2rem;
  }
}

.subitem {
  padding-left: 20px;
}

.item:hover {
  background-color: $dark;

  span {
    color: white;
  }
}

.subitem:hover {
  background-color: $secondary;

  .icon {
    color: white;
  }

  span {
    color: white;
  }
}

.menu-button {
  margin-right: 20px;
}

.user-info {
  .user-info-action {
    padding: 0 10px;
  }
}

.table-header-style {
  td {
    text-align: center;
  }
}

.pagination {
  margin-top: 30px;
}

.text-white {
  background-color: $accent;
}
