// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #27333dff;;
$secondary : #00a896ff;
$secondaryLight : #02c39aff;
$accent    : #31363bff;

$dark      : #27333dff;
$white     : #fff;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$light-gray: #d5d5d5ff;
$rich-black-fogra-29: #02131aff;
$indigo-dye: #033a50ff;
$blue-sapphire: #05668dff;
$mountain-meadow: #02c39aff;
$rich-black-fogra-29-2: #010d12ff;
$onyx: #31363a;
$rich-black-fogra-29-3: #010d12ff;
